<div layout="row" flex ng-cloak>

  <div id="left-panel" layout-column layout="column" flex="40">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="waypoints">
          <md-content layout-padding>
            <div layout="row">
              <md-button class="md-raised md-warn"
                ng-click="appCtrl.addWaypoint()">
                New
              </md-button>
            </div>
            <div ng-repeat="waypoint in appCtrl.waypoints" layout="column">
              <md-card>
                <md-card-content>
                  <div layout="row">
                    <div flex="15" flex-offset="5" class="mock-image"></div>
                    <div layout="column" flex>
                      <div layout="row">
                        <span>{{waypoint.name}}</span>
                      </div>
                      <div layout="row">
                        <p>{{waypoint.visible}}</p>
                      </div>
                      <div layout="row">
                        <
                        <p>{{waypoint.position}}</p>
                      </div>
                      <div layout="row">
                        <md-button class="md-raised md-warn"
                          ng-click="appCtrl.deleteWaypoint(waypoint)">
                          Delete
                        </md-button>
                      </div>
                    </div>
                  </div>
                </md-card-content>
              </md-card>
            </div>
          </md-content>
        </md-tab>

        <md-tab label="tours">
          <md-content layout-padding>
            <div ng-repeat="tour in appCtrl.tours" layout="column">
              <md-card>
                <md-card-content>
                  <div layout="row">
                    <div flex="15" class="mock-image"></div>
                    <div layout="column" flex-offset="5" flex>
                      <div layout="row" flex>
                        <p>{{tour.start}}</p>
                      </div>
                      <div layout="column" flex>
                        <div ng-repeat="waypoint in tour.waypoints" layout="row">
                          <div flex>
                            <p>{{waypoint}}</p>
                          </div>
                          <div flex>
                            <md-button class="md-raised md-warn"
                              ng-click="appCtrl.removeWaypointFromTour(waypoint, tour)">
                              Remove
                            </md-button>
                          </div>
                        </div>
                      </div>
                      <div layout="row" flex>
                        <p>{{tour.destination}}</p>
                      </div>
                      <div layout="row" flex>
                        <md-button class="md-raised" ng-click="appCtrl.addDriverToTour(tour)">
                          Dispatch Driver
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="appCtrl.deleteTour(tour)">
                          Delete
                        </md-button>
                      </div>
                    </div>
                  </div>
                </md-card-content>
              </md-card>
            </div>
          </md-content>
        </md-tab>

        <md-tab label="drivers">
          <md-content layout-padding>
            <div ng-repeat="driver in appCtrl.drivers" layout="column">
              <md-card>
                <md-card-content>
                  <div layout="row">
                    <div flex="15" flex-offset="5" class="mock-image"></div>
                    <div layout="column" flex>
                      <div layout="row">
                        <span>{{driver.name}}</span>
                      </div>
                      <div layout="row">
                        <p>{{driver.price}}</p>
                      </div>
                    </div>
                  </div>
                </md-card-content>
              </md-card>
            </div>
          </md-content>
        </md-tab>

      </md-tabs>
    </md-content>
  </div>

  <div id="map"
    layout="column"
    layout-column
    flex
    map-lazy-load="{{appCtrl.gmapsSrc}}"
    map-lazy-load-params="{{appCtrl.gmapsSrc}}"
    center="{{appCtrl.mapCenter}}"
    zoom="{{appCtrl.mapZoom}}"
    >
    <ng-map center="41,-87" zoom="3" on-click="appCtrl.placeMarker()">
      <marker
        ng-repeat="waypoint in appCtrl.waypoints"
        id="waypoint-{{waypoint.id}}"
        position="{{waypoint.position}}"
        on-dragend="appCtrl.dragEnd(waypoint)"
        draggable="true"
        on-click="appCtrl.clickMarker()"
        visible="{{waypoint.visible}}"
        ></marker>
    </ng-map>
  </div>

</div>
